.detailed-view {
	background-image: url(../img/detailedMeal/Background.png);
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 3;
	.back-icon {
		top: 20px;
		left: 21px;
		position: absolute;
	}
	.cart-info {
		top: 20px;
		right: 13px;
		position: absolute;
	}
	.cart-icon {
		width: 65px;
	}
	.order-count {
		top: -3px;
		right: 6px;
		position: absolute;
		width: 18px;
		height: 18px;
		background-color: #fff;
		border-radius: 100%;
		font-size: 12px;
		font-family: Avenir;
		text-align: center;
		font-weight: 500;
		box-shadow: 0px 0px 2px 1px rgba(58, 58, 58, 0.6901960784313725);
	}
	.meal-text {
		position: absolute;
		width: calc(100% - 40px);
		height: auto;
		bottom: -140px;
		left: 20px;
	}
	.checkout {
		position: absolute;
		bottom: 25px;
		left: 30px;
		width: calc(100% - 60px);
		height: auto;
	}
}