.menu-page {
  padding: 0;
  position: absolute;
  z-index: 2;
  .bg-wrap-menu {
    background-image: url('../img/menu-background.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
    .order-count {
      padding-top: 1px;
      padding-left: 1px;
      top: -3px;
      right: 6px;
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 100%;
      font-size: 12px;
      font-family: Avenir;
      text-align: center;
      font-weight: 500;
      box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.11);
    }
    .back-icon {
      top: 20px;
      left: 21px;
      position: absolute;
    }
    .cart-info {
      top: 20px;
      right: 13px;
      position: absolute;
    }
    .cart-icon {
      width: 65px;
    }
  }
  .menu-list {
    position: absolute;
    top: 200px;
    overflow: hidden;
    height: 500px;
    overflow-y: scroll;
    .dish-card {
      position: relative;
      padding: 5px 20px;
      .add {
        position: absolute;
        bottom: 28px;
        right: 37px;
      }
      .count {
        position: absolute;
        bottom: 28px;
        right: 39px;
      }
      img {
        max-width: 100%;
      }
      .selected {
        background-image: url(../img/selected.png);
        background-size: 377px 139px;
        background-position: 19px;
        background-repeat: no-repeat;
        width: 100%;
        height: 142px;
        position: absolute;
        bottom: 3px;
        left: 0;
      }
    }
  }
  .controls-block {
    .search {
      width: calc(100% - 40px);
      height: 40px;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.1);
      border: solid 1px #ffffff;
      position: absolute;
      top: 96px;
      left: 20px;
      padding: 15px 45px;
      color: #fff;
      outline: none !important;
      font-family: AvenirNext;
      font-size: 14px;
      font-weight: 500;
      background-image: url(../img/search.png);
      background-position: 18px;
      background-repeat: no-repeat;
      background-size: 16px;
      &::placeholder {
        color: #fff;
      }
    }
    .select-filter-block {
      .select-filter {
        width: 215px;
        height: 30px;
        border-radius: 120px;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid 1px #ffffff;
        position: absolute;
        top: 150px;
        left: 20px;
        color: #fff;
        padding: 5px 40px;
        font-family: AvenirNext;
        font-size: 14px;
        font-weight: 500;
        &:before {
          content: '';
          position: absolute;
          left: 15px;
          top: 10px;
          width: 13px;
          height: 12px;
          display: block;
          background-image: url(../img/filter.png);
          background-size: 10px;
          background-repeat: no-repeat;
        }
        &:after {
          content: '';
          position: absolute;
          right: 15px;
          top: 12px;
          width: 10px;
          height: 6px;
          display: block;
          background-image: url(../img/chervon.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        .select {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .select-sort {
        width: 143px;
        height: 30px;
        padding: 4px;
        text-align: center;
        border-radius: 120px;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid 1px #ffffff;
        position: absolute;
        top: 150px;
        right: 20px;
        color: #fff;
        font-family: AvenirNext;
        font-size: 14px;
        font-weight: 500;
        &:after {
          content: '';
          position: absolute;
          right: 15px;
          top: 12px;
          width: 10px;
          height: 6px;
          display: block;
          background-image: url(../img/chervon.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
        &:before {
          content: '';
          position: absolute;
          left: 15px;
          top: 10px;
          width: 13px;
          height: 12px;
          display: block;
          background-image: url(../img/sort.png);
          background-size: 10px;
          background-repeat: no-repeat;
        }
        .select {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

input::placeholder {
  color: fff;
}

.hidden {
  display: none;
}

.slide-in-left {
  -webkit-animation: slide-in-left .55s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left .55s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-4-21 19:4:49
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-7 20:35:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.heartbeat {
	-webkit-animation: heartbeat 2s ease-in-out infinite both;
	        animation: heartbeat 2s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-7 21:29:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.puff-out-center {
	-webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-5-12 16:40:35
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-out-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}
