.order-wrap {
    background-image: url('../img/cart/card-background.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 6;
    .back-icon {
        top: 20px;
        left: 21px;
        position: absolute;
    }
    .cart-text {
        position: absolute;
        top: 35px;
        left: calc(50% - 58.5px);
        width: 117px;
        height: auto;
    }
    .meal {
        position: absolute;
        width: calc(100% - 50px);
        left: 25px;
        &.meal1 {
            top: 102px;
        }
        &.meal2 {
            top: 200px;
        }
        &.add-more {
            top: 305px;
        }
        &.bottom-part {
            bottom: 15px;
        }
    }
    .check {
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
        top: 85px;
        height: 545px;
    }
    .submit {
        position: absolute;
        bottom: 20px;
        left: 35px;
        width: calc(100% - 70px);
        height: auto;
    }
}