.payment {
    background-image: url('../img/payment/payment-background.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    .payment-method {
        max-width: 75%;
        display: block;
        margin: 0 auto;
        &.cash {
            margin: 170px auto 50px;
        }
    }
}