.receipt {
	background-image: url('../img/menu-background.png');
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 7;
	.back-icon {
		top: 20px;
		left: 21px;
		position: absolute;
	}
	.check {
		position: absolute;
		width: calc(100% - 30px);
		left: 15px;
		top: 85px;
		height: 450px;
	}
	.receipt-btn {
		position: absolute;
		bottom: 25px;
		left: 10px;
		width: calc(100% - 20px);
		height: auto;
	}
}