.active-page {
    display: block !important;
}
body {
    overflow: hidden;
    height: 100vh;
    outline: none !important;
    font-family: "../fonts/AvenirNext-Regular.ttf"
}

.mb-20 {
    margin-bottom: 20px;
}